/* Vars ----------------------------------------------------*//* Mixins ----------------------------------------------------*/#social-bar {
  display: block;
  float: right;
  margin-right: 30px;
  margin-top: 62px;
  position: relative;
}
#social-bar li {
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
  width: 32px;
  height: 32px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  -moz-border-radius: 40px 40px 40px 40px;
  -webkit-border-radius: 40px 40px 40px 40px;
  border-radius: 40px 40px 40px 40px;
}
#social-bar li a {
  position: absolute;
  height: 66px;
  width: 32px;
  top: 0;
  left: 0px;
  background-repeat: no-repeat;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
#social-bar li a:hover {
  top: -32px;
}
#social-bar .dribbble a {
  background-image: url('../img/social/dribbble.png');
}
#social-bar .facebook a {
  background-image: url('../img/social/facebook.png');
}
#social-bar .flickr a {
  background-image: url('../img/social/flickr.png');
}
#social-bar .github a {
  background-image: url('../img/social/github.png');
}
#social-bar .googleplus a {
  background-image: url('../img/social/googleplus.png');
}
#social-bar .lastfm a {
  background-image: url('../img/social/lastfm.png');
}
#social-bar .linkedin a {
  background-image: url('../img/social/linkedin.png');
}
#social-bar .rss a {
  background-image: url('../img/social/rss.png');
}
#social-bar .twitter a {
  background-image: url('../img/social/twitter.png');
}
#social-bar .tumblr a {
  background-image: url('../img/social/tumblr.png');
}
#social-bar .vimeo a {
  background-image: url('../img/social/vimeo.png');
}
#social-bar .youtube a {
  background-image: url('../img/social/youtube.png');
}
#social-bar .Phone a {
  background-image: url('../img/social/Phone.png');
}#social-bar .androidapp a {
  background-image: url('../img/social/androidapp.png');
}
#social-bar .iphoneapp a {
  background-image: url('../img/social/iphoneapp.png');
}